@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This web site has been set up to study different web page formats and what goes into them.</p>
<br />
<br />
<div>
<h1>Citations:</h1>
<br />
<p style="text-indent:20px">This site uses a free version of <a href="http://glyphicons.com/">Glyphicons</a> - © 2010 - 2017 Jan Kovarik</p>
</div>
