@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    980 Kersfield Circle<br />
    Heathrow, FL 32746<br />
    <abbr title="Phone">P:</abbr>
    407.804.0589
</address>


<address>
    <span style="color:red;padding-right:5px"   class="glyphicon glyphicon-envelope" aria-hidden="true"></span><strong>Support:</strong> <a href="mailto:j_slawsky@yahoo.com?subject=A Support Question About Your Demo.&body=Hello...%0A%0AI have a support question about something I saw here.%0A%0A%0A%0ASincerely...%0A%0A">j_slawsky@yahoo.com</a><br />
    <span style="color:limegreen;padding-right:5px" class="glyphicon glyphicon-envelope" aria-hidden="true"></span><strong>General:</strong> <a href="mailto:j_slawsky@yahoo.com?subject=A Question About Your Demo.&body=Hello...%0A%0AI have a question about something I saw here.%0A%0A%0A%0ASincerely...%0A%0A">j_slawsky@yahoo.com</a><br />
</address>
