@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-3">
        <h2>Test Column 1</h2>
        <ul>
            <li>Test Column 1 line 1</li>
            <li>Test Column 1 line 2</li>
            <li>Test Column 1 line 3</li>
            <li>Test Column 1 line 4</li>
            <li>Test Column 1 line 5</li>
        </ul>
    </div>
    <div class="col-md3">
        <h2>Test Column 2</h2>
        <img src="~/images/Finn.jpg" alt="Finn Doggy" style="height:20%; width:20%;"/>      
    </div>
</div>
